<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/> 
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<div class="container">
	<div class="row">
		<div class="col-xl border">
			<h1>Current auction</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Product</th>
						<th scope="col">Start Price</th>
						<th scope="col">Scheduled start</th>
						<th scope="col">Scheduled end</th>
						<th scope="col">Amount</th>
						<th scope="col">Current selling price</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ auction.auction_id }}</td>
						<td>{{ auction.product.product_name }}</td>
						<td>{{ auction.starting_price }}</td>
						<td>{{ auction.auction_start }}</td>
						<td>{{ auction.auction_end }}</td>
						<td>{{ auction.quantity }}</td>
						<td>{{ current_price }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row border-right border-left border-bottom">
		<div class="col-xl">
			<h1>Place bid</h1>
			<form action="{% url 'auction:place_bid' %}" method="POST">
				{% if price_error %}
				<div class="alert alert-danger" role="alert">
					{{ price_error }}
				</div>
				{% endif %}
				{% csrf_token %}
				<div class="row">
					<div class="col-xl">
						<div class="form-group">
							<input type="hidden" name="auction_id" value="{{ auction.auction_id}}"/>
							<label for="owner">Phone number</label>
							{% if owner %}
							<input type="text" class="form-control" name="owner" aria-describedby="quantity_help" value={{ owner }}>
							{% else %}
							<input type="text" class="form-control" name="owner" aria-describedby="quantity_help" placeholder="0612345678">
							{% endif%}
							
							<small id="quantity_help" class="form-text text-muted">Enter your phone number.</small>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl">
						<div class="form-group">
							<label for="bid">Price</label>
							{% if bid %}
							<input type="text" class="form-control" name="bid" aria-describedby="bid_help" placeholder="0.00" value={{ bid }}>
							{% else %}
							<input type="text" class="form-control" name="bid" aria-describedby="bid_help" placeholder="0.00" value="">
							{% endif%}
							<small id="bid_help" class="form-text text-muted">Enter bid price</small>
						</div>
					</div>
					<div class="col-xl">
						<div class="form-group">
							<label for="quantity">Quantity</label>
							{% if quantity %}
							<input type="text" class="form-control" name="quantity" aria-describedby="quantity_help" value={{ quantity }}>
							{% else %}
							<input type="text" class="form-control" name="quantity" aria-describedby="quantity_help" placeholder="0">
							{% endif%}
							
							<small id="quantity_help" class="form-text text-muted">Enter the amount of products you want to buy.</small>
						</div>
					</div>
				</div>
				<button class="btn btn-primary">Place bid</button>
			</form>
		</div>
	</div>

	<div class="row border-right border-left border-bottom">
		<div class="col-xl">
			<h1>Current bids</h1>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Bid by</th>
						<th scope="col">Number of products</th>
						<th scope="col">Against Price</th>
						<th scope="col">Bid placed at</th>
					</tr>
				</thead>
				<tbody>
					{% for bid in bids %}
					<tr>
						<td>{{ bid.owner }}</td>
						<td>{{ bid.quantity }}</td>
						<td>{{ bid.bid }}</td>
						<td>{{ bid.creation_date }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>