<h1>Web auction</h1>


<p>This is the web interface for the Vendu auction application.</br>
    The next items are being offered during our auctions:</p>
{% if item_list %}
<ul>
    {% for item in item_list %}
    <li>{{ item.name }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No items are available.</p>
{% endif %}

<p>Klik <a href="{% url 'webauction:schedule' %}">here</a> to see the schedule for auctions.</br>
Klik <a href="{% url 'webauction:currentauction' %}">here</a> to go to the current auction.</p>
